/node_modules
.next/
out/
dist/

# generated content
.contentlayer
.content-collections
.source

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env*
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

