.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  body > & {
    height: 100vh;

    @supports (height: 100dvh) {
      height: 100dvh;
    }
  }

  .code {
    color: var(--color-danger-800);
    font-weight: 800;
    font-size: 20rem;
    line-height: 20rem;
  }

  .msg {
    font-size: 1.5rem;
    color: var(--color-neutral-600);
  }
}
