:root {
  /* primary */
  --color-primary-50: 234 241 255;
  --color-primary-100: 213 227 255;
  --color-primary-200: 170 199 255;
  --color-primary-300: 127 170 255;
  --color-primary-400: 84 138 255;
  --color-primary-500: 38 102 255;
  --color-primary-600: 0 66 235;
  --color-primary-700: 0 48 179;
  --color-primary-800: 0 30 125;
  --color-primary-900: 0 13 69;
  --color-primary-950: 0 4 37;

  --color-primary-main: var(--color-primary-600);
  --color-primary-light: var(--color-primary-500);
  --color-primary-dark: var(--color-primary-700);
  --color-primary-contrast: var(--color-primary-50);

  /* neutral */
  --color-neutral-50: 238 241 247;
  --color-neutral-100: 221 227 238;
  --color-neutral-200: 187 199 221;
  --color-neutral-300: 156 172 202;
  --color-neutral-400: 127 145 180;
  --color-neutral-500: 101 119 154;
  --color-neutral-600: 78 94 125;
  --color-neutral-700: 57 70 95;
  --color-neutral-800: 37 46 65;
  --color-neutral-900: 16 22 33;
  --color-neutral-950: 6 8 15;

  --color-neutral-main: var(--color-neutral-600);
  --color-neutral-light: var(--color-neutral-500);
  --color-neutral-dark: var(--color-neutral-700);
  --color-neutral-contrast: var(--color-neutral-50);

  /* danger */
  --color-danger-50: 255 236 232;
  --color-danger-100: 255 216 209;
  --color-danger-200: 255 175 162;
  --color-danger-300: 255 129 110;
  --color-danger-400: 255 61 43;
  --color-danger-500: 222 16 0;
  --color-danger-600: 177 10 0;
  --color-danger-700: 135 5 0;
  --color-danger-800: 93 2 0;
  --color-danger-900: 50 1 0;
  --color-danger-950: 26 0 0;

  --color-danger-main: var(--color-danger-500);
  --color-danger-light: var(--color-danger-400);
  --color-danger-dark: var(--color-danger-600);
  --color-danger-contrast: var(--color-danger-50);

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.875rem;
  --font-size-4xl: 2.25rem;
  --font-size-5xl: 3rem;
  --font-size-6xl: 3.75rem;
  --font-size-7xl: 4.5rem;
  --font-size-8xl: 6rem;
  --font-size-9xl: 8rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  --rounded-none: 0;
  --rounded-sm: 0.125rem;
  --rounded-base: 0.25rem;
  --rounded-md: 0.375rem;
  --rounded-lg: 0.5rem;
  --rounded-xl: 0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.25rem;
  --rounded-4xl: 1.5rem;
  --rounded-full: 9999px;
}

html,
body {
  font-family: var(--font-family);
}

.container {
  display: grid;
  grid-template-columns: 18rem 1fr;
  column-gap: 1rem;
}

main {
  padding: 1rem;
}

header {
  padding-bottom: 2rem;
}

header h1 {
  font-weight: var(--font-weight-extrabold);
  font-size: var(--font-size-5xl);
  line-height: 1.2;
  margin: 0;
}
