@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  /* primary */
  --color-primary-50: 234 241 255;
  --color-primary-100: 213 227 255;
  --color-primary-200: 170 199 255;
  --color-primary-300: 127 170 255;
  --color-primary-400: 84 138 255;
  --color-primary-500: 38 102 255;
  --color-primary-600: 0 66 235;
  --color-primary-700: 0 48 179;
  --color-primary-800: 0 30 125;
  --color-primary-900: 0 13 69;
  --color-primary-950: 0 4 37;

  --color-primary-main: var(--color-primary-600);
  --color-primary-light: var(--color-primary-500);
  --color-primary-dark: var(--color-primary-700);
  --color-primary-contrast: var(--color-primary-50);

  /* neutral */
  --color-neutral-50: 238 241 247;
  --color-neutral-100: 221 227 238;
  --color-neutral-200: 187 199 221;
  --color-neutral-300: 156 172 202;
  --color-neutral-400: 127 145 180;
  --color-neutral-500: 101 119 154;
  --color-neutral-600: 78 94 125;
  --color-neutral-700: 57 70 95;
  --color-neutral-800: 37 46 65;
  --color-neutral-900: 16 22 33;
  --color-neutral-950: 6 8 15;

  --color-neutral-main: var(--color-neutral-600);
  --color-neutral-light: var(--color-neutral-500);
  --color-neutral-dark: var(--color-neutral-700);
  --color-neutral-contrast: var(--color-neutral-50);

  /* danger */
  --color-danger-50: 255 236 232;
  --color-danger-100: 255 216 209;
  --color-danger-200: 255 175 162;
  --color-danger-300: 255 129 110;
  --color-danger-400: 255 61 43;
  --color-danger-500: 222 16 0;
  --color-danger-600: 177 10 0;
  --color-danger-700: 135 5 0;
  --color-danger-800: 93 2 0;
  --color-danger-900: 50 1 0;
  --color-danger-950: 26 0 0;

  --color-danger-main: var(--color-danger-500);
  --color-danger-light: var(--color-danger-400);
  --color-danger-dark: var(--color-danger-600);
  --color-danger-contrast: var(--color-danger-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-main: var(--color-primary-300);
    --color-primary-light: var(--color-primary-200);
    --color-primary-dark: var(--color-primary-400);
    --color-primary-contrast: var(--color-primary-950);

    --color-neutral-main: var(--color-neutral-300);
    --color-neutral-light: var(--color-neutral-200);
    --color-neutral-dark: var(--color-neutral-400);
    --color-neutral-contrast: var(--color-neutral-950);

    --color-danger-main: var(--color-danger-300);
    --color-danger-light: var(--color-danger-200);
    --color-danger-dark: var(--color-danger-400);
    --color-danger-contrast: var(--color-danger-950);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
