@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  /* primary */
  --color-primary-50: 244 247 255;
  --color-primary-100: 226 236 255;
  --color-primary-200: 187 208 254;
  --color-primary-300: 145 179 254;
  --color-primary-400: 102 146 253;
  --color-primary-500: 60 110 249;
  --color-primary-600: 26 69 236;
  --color-primary-700: 12 40 190;
  --color-primary-800: 5 23 128;
  --color-primary-900: 1 8 67;
  --color-primary-950: 0 2 32;

  --color-primary-main: var(--color-primary-600);
  --color-primary-light: var(--color-primary-500);
  --color-primary-dark: var(--color-primary-700);
  --color-primary-contrast: var(--color-primary-50);

  /* neutral */
  --color-neutral-50: 246 247 250;
  --color-neutral-100: 231 235 243;
  --color-neutral-200: 200 209 227;
  --color-neutral-300: 167 181 209;
  --color-neutral-400: 136 152 187;
  --color-neutral-500: 107 124 160;
  --color-neutral-600: 81 97 129;
  --color-neutral-700: 58 70 96;
  --color-neutral-800: 36 45 64;
  --color-neutral-900: 15 20 30;
  --color-neutral-950: 4 6 11;

  --color-neutral-main: var(--color-neutral-600);
  --color-neutral-light: var(--color-neutral-500);
  --color-neutral-dark: var(--color-neutral-700);
  --color-neutral-contrast: var(--color-neutral-50);

  /* danger */
  --color-danger-50: 255 245 243;
  --color-danger-100: 255 228 225;
  --color-danger-200: 255 190 184;
  --color-danger-300: 254 145 136;
  --color-danger-400: 252 87 84;
  --color-danger-500: 228 26 43;
  --color-danger-600: 181 15 31;
  --color-danger-700: 135 8 20;
  --color-danger-800: 90 3 10;
  --color-danger-900: 45 1 3;
  --color-danger-950: 19 0 1;

  --color-danger-main: var(--color-danger-500);
  --color-danger-light: var(--color-danger-400);
  --color-danger-dark: var(--color-danger-600);
  --color-danger-contrast: var(--color-danger-50);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary-main: var(--color-primary-300);
    --color-primary-light: var(--color-primary-200);
    --color-primary-dark: var(--color-primary-400);
    --color-primary-contrast: var(--color-primary-950);

    --color-neutral-main: var(--color-neutral-300);
    --color-neutral-light: var(--color-neutral-200);
    --color-neutral-dark: var(--color-neutral-400);
    --color-neutral-contrast: var(--color-neutral-950);

    --color-danger-main: var(--color-danger-300);
    --color-danger-light: var(--color-danger-200);
    --color-danger-dark: var(--color-danger-400);
    --color-danger-contrast: var(--color-danger-950);
  }
}

@layer base {
  html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  body {
    @apply bg-white text-neutral-900 selection:bg-primary-500/30
selection:text-primary-950 dark:bg-neutral-950 dark:text-neutral-100
dark:selection:text-primary-50;
  }
}
