@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @define-mixin theme-light {
    --color-background: 255 255 255;
    --color-foreground: var(--color-neutral-900);
    --color-card: var(--color-neutral-50);
    --color-card-foreground: var(--color-neutral-900);
    --color-popover: 255 255 255;
    --color-popover-foreground: var(--color-neutral-900);
    --color-secondary: var(--color-neutral-100);
    --color-secondary-foreground: var(--color-neutral-800);
    --color-muted: var(--color-neutral-300);
    --color-muted-foreground: var(--color-neutral-600);
    --color-accent: var(--color-neutral-100);
    --color-accent-foreground: var(--color-neutral-900);
    --color-border: var(--color-neutral-200);
    --color-input: var(--color-neutral-200);
    --color-input-hover: var(--color-neutral-400);
    --color-input-invalid: var(--color-danger-600);
    --color-ring: var(--color-primary-600);

    --color-primary-main: var(--color-primary-600);
    --color-primary-active: var(--color-primary-500);
    --color-primary-foreground: 255 255 255;

    --color-neutral-main: var(--color-neutral-600);
    --color-neutral-active: var(--color-neutral-500);
    --color-neutral-foreground: 255 255 255;

    --color-danger-main: var(--color-danger-500);
    --color-danger-active: var(--color-danger-400);
    --color-danger-foreground: 255 255 255;
  }

  @define-mixin theme-dark {
    --color-background: var(--color-neutral-950);
    --color-foreground: var(--color-neutral-100);
    --color-card: var(--color-neutral-900);
    --color-card-foreground: var(--color-neutral-100);
    --color-popover: var(--color-neutral-900);
    --color-popover-foreground: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-secondary-foreground: var(--color-neutral-200);
    --color-muted: var(--color-neutral-700);
    --color-muted-foreground: var(--color-neutral-400);
    --color-accent: var(--color-neutral-800);
    --color-accent-foreground: var(--color-neutral-100);
    --color-border: var(--color-neutral-800);
    --color-input: var(--color-neutral-800);
    --color-input-hover: var(--color-neutral-600);
    --color-input-invalid: var(--color-danger-300);
    --color-ring: var(--color-primary-300);

    --color-primary-main: var(--color-primary-300);
    --color-primary-active: var(--color-primary-400);
    --color-primary-foreground: var(--color-primary-950);

    --color-neutral-main: var(--color-neutral-300);
    --color-neutral-active: var(--color-neutral-400);
    --color-neutral-foreground: var(--color-neutral-950);

    --color-danger-main: var(--color-danger-300);
    --color-danger-active: var(--color-danger-400);
    --color-danger-foreground: var(--color-danger-950);
  }

  :root {
    color-scheme: light dark;

    --border-radius: 0.5rem;

    --color-primary-50: 244 247 255;
    --color-primary-100: 226 236 255;
    --color-primary-200: 187 208 254;
    --color-primary-300: 145 179 254;
    --color-primary-400: 102 146 253;
    --color-primary-500: 60 110 249;
    --color-primary-600: 26 69 236;
    --color-primary-700: 12 40 190;
    --color-primary-800: 5 23 128;
    --color-primary-900: 1 8 67;
    --color-primary-950: 0 2 32;

    --color-neutral-50: 246 247 250;
    --color-neutral-100: 231 235 243;
    --color-neutral-200: 200 209 227;
    --color-neutral-300: 167 181 209;
    --color-neutral-400: 136 152 187;
    --color-neutral-500: 107 124 160;
    --color-neutral-600: 81 97 129;
    --color-neutral-700: 58 70 96;
    --color-neutral-800: 36 45 64;
    --color-neutral-900: 15 20 30;
    --color-neutral-950: 4 6 11;

    --color-danger-50: 255 245 243;
    --color-danger-100: 255 228 225;
    --color-danger-200: 255 190 184;
    --color-danger-300: 254 145 136;
    --color-danger-400: 252 87 84;
    --color-danger-500: 228 26 43;
    --color-danger-600: 181 15 31;
    --color-danger-700: 135 8 20;
    --color-danger-800: 90 3 10;
    --color-danger-900: 45 1 3;
    --color-danger-950: 19 0 1;

    @mixin theme-light;
  }
  @media not print {
    @media (prefers-color-scheme: dark) {
      :root {
        @mixin theme-dark;
      }
    }
  }
}

[data-theme='light'] {
  color-scheme: light;
  @mixin theme-light;
}
@media not print {
  [data-theme='dark'] {
    color-scheme: dark;
    @mixin theme-dark;
  }
}

@layer base {
  * {
    @apply border-border [-webkit-tap-highlight-color:transparent];
  }

  body {
    @apply overflow-x-hidden bg-background text-foreground selection:bg-primary-500/30 selection:text-inherit;
  }
}
.lucide {
  @apply h-em w-em;
}
